@font-face {
    font-family: Ubuntu;
    src: url(fonts.googleapis.com);
}

#main {
    width: 100%;
    height: 100%;
    margin: 0;
    position: absolute;
}

body {
    background-color: #e0e0e0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
}

.logo {
    height: 60px;
    width: 60px;
    vertical-align: middle;
    margin: 1%;
    margin-top: 0;
}

.socialLogo {
    height: 20px;
    width: 22px;
}

header {
    background-color: rosybrown;
    top: 0;
    left: 0;
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-between;
    position: fixed;
}

footer {
    background-color: rosybrown;
    width: 100%;
    bottom: 0;
    position: fixed;
    height: auto;
    top: auto;
    display: flex;
    justify-content: space-between;
    vertical-align: middle;
    padding: 1%;
}

.login {
    position: absolute;
    top: 15px;
    right: 5px;
    text-decoration: none;
    color: black;
    font-weight: bold;
    margin-right: 10px;
}

#contactus {
    position: relative;
    text-decoration: none;
    color: black;
    font-weight: bold;
    vertical-align: middle;
}

.modal-header,
h4,
.close {
    text-align: left;
    font-size: 30px;
}

.modal-footer {
    background-color: white;
    text-align: left;
}

.modal-backdrop.show {
    opacity: 0;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1040;
    width: 0;
    height: 0;
    background-color: #000;
}